@model KYF_Code_First_.Models.Transaccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaccion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Motivo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransaccionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
