@model KYF_Code_First_.Models.Tarjeta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarjeta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TarjetaTipo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarjetaTipo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadBancaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidadBancaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCorte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCorte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TarjetaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
